* {
    user-select: none;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F0E19B;
}

canvas {
    border: 6px solid black;
    border-radius: 18px;
}

div {
    font-size: 30px;
    text-align: center;
    margin: 10 0;
}